services:
  php:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
      args:
        PUID: ${PUID-1000}
        PGID: ${PGID-1000}
        XDEBUG: on
    container_name: payb2-php
    working_dir: /code
    volumes:
      - ./:/code:delegated
      - ./docker/php/conf.d/xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
    environment:
      XDEBUG_MODE: debug,develop
      XDEBUG_TRIGGER: yes
    extra_hosts:
      - "host.docker.internal:host-gateway"
    env_file:
      - .env
    networks:
      - backend

  nginx:
    image: nginx:1.27-alpine
    container_name: payb2-nginx
    depends_on:
      - php
    ports:
      - "80:80"
    volumes:
      - ./:/code:ro
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./docker/nginx/app-php.conf:/etc/nginx/conf.d/app-php.conf:ro
    networks:
      - backend

  postgres:
    image: postgres:16-alpine
    container_name: payb2-postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER-utente}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD-segreto}
      POSTGRES_DB: ${POSTGRES_DB-informazioni}
    healthcheck:
        test: [ "CMD", "pg_isready", "-d", "${POSTGRES_DB:-app}", "-U", "${POSTGRES_USER:-app}" ]
        timeout: 5s
        retries: 5
        start_period: 60s
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend

  messenger-worker:
      build:
          context: .
          dockerfile: docker/php/Dockerfile
          args:
              XDEBUG: off
      container_name: payb2-messenger-worker
      working_dir: /code
      depends_on:
          - php
      volumes:
          - ./:/code:delegated
      networks:
          - backend
      restart: unless-stopped
      command: >
          sh -lc "php bin/console messenger:consume async -vv"

  redis:
    image: redis:7-alpine
    container_name: payb2-redis
    command: redis-server --appendonly yes
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - backend

networks:
  backend:
    driver: bridge

volumes:
  postgres_data:
  redis_data:
