services:
  php:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
      args:
        PUID: ${PUID-1000}
        PGID: ${PGID-1000}
    container_name: payb2-php
    working_dir: /code
    volumes:
      - ./:/code:delegated
    environment:
      XDEBUG_MODE: ${XDEBUG_MODE-off}
      XDEBUG_CONFIG: ${XDEBUG_CONFIG-}
    env_file:
      - .env
    networks:
      - backend

  nginx:
    image: nginx:1.27-alpine
    container_name: payb2-nginx
    depends_on:
      - php
    ports:
      - "80:80"
    volumes:
      - ./:/code:ro
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./docker/nginx/app-php.conf:/etc/nginx/conf.d/app-php.conf:ro
    networks:
      - backend

  postgres:
    image: postgres:16-alpine
    container_name: payb2-postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER-symfony}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD-change_me}
      POSTGRES_DB: ${POSTGRES_DB-symfony}
    healthcheck:
        test: [ "CMD", "pg_isready", "-d", "${POSTGRES_DB:-app}", "-U", "${POSTGRES_USER:-app}" ]
        timeout: 5s
        retries: 5
        start_period: 60s
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend

  redis:
    image: redis:7-alpine
    container_name: payb2-redis
    command: redis-server --appendonly yes
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - backend

networks:
  backend:
    driver: bridge

volumes:
  postgres_data:
  redis_data:
