# yaml-language-server: $schema=../vendor/symfony/dependency-injection/Loader/schema/services.schema.json

# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.
# See also https://symfony.com/doc/current/service_container/import.html

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones

    App\DataFixtures\:
        resource: '../fixtures'

    # Domain bindings
    App\Domain\Repository\TransferRepositoryInterface: '@App\Infrastructure\Doctrine\Repository\DoctrineTransferRepository'
    App\Domain\Repository\UserRepositoryInterface: '@App\Infrastructure\Doctrine\Repository\DoctrineUserRepository'
    App\Domain\Repository\WalletRepositoryInterface: '@App\Infrastructure\Doctrine\Repository\DoctrineWalletRepository'
    App\Domain\Service\TransferAuthorizationServiceInterface: '@App\Infrastructure\Http\Service\TransferAuthorizationService'

    # Application bindings
    App\Application\Port\Persistence\TransactionManagerInterface: '@App\Infrastructure\Doctrine\Transaction\DoctrineTransactionManager'
    App\Application\Port\Queue\EventBusInterface: '@App\Infrastructure\Queue\SymfonyMessageBusAdapter'
    App\Application\Port\Service\NotificationServiceInterface: '@App\Infrastructure\Http\Service\TransferNotificationService'
    App\Application\Port\Service\LoggerInterface: '@App\Infrastructure\Log\Uatu'
    App\Application\Port\Service\MetricsInterface: '@App\Infrastructure\Metrics\PrometheusMetricsAdapter'
    App\Application\UseCase\Transfer\PerformTransferInterface: '@App\Infrastructure\Decorator\Observability\TransferObservabilityDecorator'

    # Prometheus bindings
    Prometheus\Storage\Adapter:
        class: Prometheus\Storage\APC

    Prometheus\CollectorRegistry:
        arguments:
            $storageAdapter: '@Prometheus\Storage\Adapter'
            $registerDefaultMetrics: true

    Prometheus\RenderTextFormat: ~

    # OpenTelemetry
    OpenTelemetry\SDK\Common\Export\Stream\StreamTransportFactory: ~
    OpenTelemetry\SDK\Common\Export\TransportInterface:
        factory: [ '@OpenTelemetry\SDK\Common\Export\Stream\StreamTransportFactory', 'create' ]
        arguments:
            $endpoint: 'php://stdout'
            $contentType: 'application/json'
    OpenTelemetry\SDK\Trace\SpanExporter\ConsoleSpanExporter: ~
    OpenTelemetry\SDK\Trace\SpanProcessor\SimpleSpanProcessor:
        arguments:
            $exporter: '@OpenTelemetry\SDK\Trace\SpanExporter\ConsoleSpanExporter'
    OpenTelemetry\SDK\Trace\TracerProvider:
        arguments:
            $spanProcessors: [ '@OpenTelemetry\SDK\Trace\SpanProcessor\SimpleSpanProcessor' ]
    OpenTelemetry\API\Trace\TracerProviderInterface: '@OpenTelemetry\SDK\Trace\TracerProvider'
